<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted mt-5">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
           style="background-color: rgba(0, 0, 0, 0.03);">
    <!-- Left -->
    <div class="mx-5 d-none d-lg-block">
      © 2023 Copyright. "News Blog" . Made with
      <span><i class="fa-regular fa-heart" style="color: #1eafed;"></i></span> . Designed by s9rg9i.
    </div>
    <!-- Right -->
    <div class="mx-5">
      <p>Блог разработан в рамках курса "Фреймворк Flask" - GeekBrains </p></div>
  </section>
</footer>
