{% extends 'base.html' %}
<body>
{% block page_title %}Список пользователей{% endblock %}
{% block content %}

<ol class="list-group list-group-numbered">
  {% for user in users %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><a href="{{ url_for('user.user_detail', pk=user.id) }}">{{ user.login }}</a>  </div>
      <p>Id: {{ user.id }}</p>
    </div>
    публикаций:&nbsp;<span class="badge rounded-pill">&nbsp;{{ user.post|length }}</span>
  </li>
  {% endfor %}
</ol>

{% endblock %}
</body>
</html>
